apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_name }}-conf
data:
  # ENV VARS HERE
  PORT: "{{ app_port }}"
  DIAG_PORT: "{{ diag_port }}"
  SEED: "{{ env.SEED | default('0') }}"
{% if postgres.enabled  %}
  STORE: "postgres"
  DB_HOST: "{{ postgres.host | default("postgres") }}"
  DB_PORT: "{{ postgres.port | default("5432") }}"
  DB_NAME: "{{ postgres.db }}"
  DB_USER: "{{ postgres.user }}"
  DB_PASSWORD: "{{ postgres.password }}"
{% endif %}
