{% if postgres.enabled and postgres.selfhosted %}
apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  type: NodePort
  ports:
   - port: {{ postgres.port | default("5432") }}
  selector:
   app: postgres
{% endif %}