

.ui.items.usersList > .item > .image > img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.ui.items.usersList > .item  {
    padding-left: 1rem;
}

.ui.items.usersList > .item.userItem.active   {
    background-color: #E0E0E0;
}

.ui.items.usersList > .item:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}

.ui.items.usersList {
    height: 700px;
    overflow-y: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.userItem-avatar > img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}


