body {
  background-color: #F7F1EF;
  height: 100%;
  overflow-x: hidden;
  padding: 0 !important;
}

.App, .wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.App-header {
  text-align: center;
}

.ui.grid {
  min-height: 100%;
}


/*.App-main, .App-sidebar {*/
/*  background-color: white;*/
/*}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
